node_modules
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.toast
.lucid
.env
.git
.gitignore
.dockerignore
static/dist
frontend/node_modules
frontend/dist
